@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------------------------------------------------------------------*/


html, body{
	height: 100%;
	margin: 0; 
	padding: 0;
}

#wrapper{
	width: 100%;
	height: 100%;
	background: #eae9e8;
}

#sidebar{
	width: 9.72vw;
	height: 100vh;
	background-color: #eae9e8;
	font-family: 'Arapey', serif;
	float: left;	
}

#sidebar li{
	margin-left: 40px;
	font-size: 1vw;
}

a:link, a:visited{
	color: #373b3e;
	text-decoration: none;
}
 
a:hover, a:active{
	color: #ed7225;
	text-decoration: none;
}

#sidebar img[src="img/logo.png"]{
	height: auto;
	width: 3vw;
	margin: 50px 0 1vw 40px;
}

#center{
	width: 40.8vw;
	height: 100vh;
	background: #eae9e8;
	float: left;
	font-family: 'Arapey', serif;
	font-style: italic;
	text-align: center;
	
}

#center h1{
	font-size: 3vw;
	color: #373b3e;
	margin-top: 30vh; 
	margin-bottom: 2.5vh; 
	line-height: 1.4;
}

#center img[src="img/webdesign1.png"]{
	height: 3.5vw;
	width: auto;
}

	
#side{
	background-color: #373b3e;
	height: 96%;
	width: 49.48vw;
	margin: 0 0 0 50.52%;
	position: relative;
	top: 2%;

}

#side img[src="img/Jackolo.png"]{
	height: auto;
	width: 27vw;
	display: block;
	margin-left: auto;
  	margin-right: auto;
	position: relative;
	top: 15%;
	box-shadow: 30px 30px 7px rgba(0, 0, 0, 0.35);
	
}




