@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'abelregular';
    src: url('abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	
	font-family: '2dumbregular';
    src: url('2Dumb-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}

h1 {
	font-family: 'abelregular';
}

h2 {
	font-family: '2dumbregular';
}

h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

p {
	font-family: 'Oswald', sans-serif;
}
